<form id="{{vm.formType}}-form">
    <input type="hidden" id="collectionName" value="{{vm.formType}}">

    <div class="form-group" ng-repeat="question in vm.getQuestions()">
        <label for="question-input">{{question.title}}</label>

        <select name="{{question.id}}" ng-if="vm.isDropdown(question.id)">
            <option ng-repeat="option in vm.getOptionsForDropdown(question.id)" value="{{option}}">{{option}}</option>
        </select>    
    </div>
    <div class="form-group">
        <input type="button" ng-click="submit" value="Add"/>
    </div>
</form>